

p.cv{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a.mail{
    font-size: x-large;


}

a.info{
    font-size: x-large;
    
    
}
