

h1 {
    text-align: center;
    margin-top: 20px;
}

h1.pp{
    margin-top: 80px;
}

p{
    text-align: left;
    margin-top: 40px;
    font-size: 25px;
}

figure {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 40px;
  }
  
  img {
    width: 100px; 
    margin-right: 20px; 
  }
  
  figure figcaption{
    font-size: 25px;
  }

a.dl{
    font-family :cursive;
    text-decoration: none;
    color: black;
    
}

a:visited{
    color: black;
}

p.desc{
    text-align: center;
}